@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

.link{
  text-decoration: none;
  color: var(--vt-c-text-link);
  transition: 0.4s;
}

@media (hover: hover) {
  .link:hover {
    background-color: var(--vt-c-text-link-hover)
  }
}
