@import "./base.css";

#app {
  margin: 0 auto;
  max-width: 1280px;
  font-weight: normal;
}

.link {
  transition: 0.4s;
  color: var(--vt-c-text-link);
  text-decoration: none;
}

@media (hover: hover) {
  .link:hover {
    background-color: var(--vt-c-text-link-hover);
  }
}
